#MainAnchorPane {
    -fx-background-image: url("../theatre_seating_darkened.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 900;
    -fx-background-position: center center;
}

#AnchorPane {
    -fx-background-color: #252525;
}

.button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: orange;
    -fx-cursor: hand;
}

.form-label {
    -fx-font: 25px "Arial";
}

.form-text-input {
    -fx-font: 25px "Arial";
}

.form-date-input {
    -fx-font: 25px "Arial";
}

.show-selector {
    -fx-font: 25px "Arial";
}
.seat-label {
    -fx-font: 20px "Arial";
    -fx-cursor: hand;
}

.seat-open {
    -fx-cursor: hand;
    -fx-fill: #009918;    
}

.seat-occupied {
    -fx-cursor: hand;
    -fx-fill: #aaaaaa;
}

.seat-selected {
    -fx-cursor: hand;
    -fx-fill: #4286f4;
}

.seat-selected-printing {
    -fx-cursor: hand;
    -fx-fill: #cd7cff;
}

#theatreTicket {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px 0px 1px 1px;
}

#ticketStub {
    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 0px 0px 0px 1px;
}

