#AnchorPane {
    -fx-background-color: #252525;
}

.button {
    -fx-font-weight: bold;
}

.form-label {
    -fx-font: 25px "Arial";
}

.form-text-input {
    -fx-font: 25px "Arial";
}

.form-date-input {
    -fx-font: 25px "Arial";
}

.seat-label {
    -fx-font: 20px "Arial";
}

